
@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .d-print-none {
    display: none !important;
  }
  @page {
    margin: 10mm;
  }
}

.navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
